/*-----------------*\
	   LOADING
\*-----------------*/
#loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 998;
  background-color: #FFFFFF;
  opacity: 0.6;
  display: none;
}

#loadingImg {
  position: fixed;
  top: 44%;
  left: 44%;
  width: 12%;
  height: 12%;
  z-index: 999;
  display: none;
}

/*-----------------*\
	CHECK PSEUDO
\*-----------------*/
.success-check {
  padding-left: 0px;
  line-height: 34px;
}

/*-----------------*\
	CHECK PSEUDO
\*-----------------*/
.error-check {
  margin-top: 10px;
  margin-bottom: 0px;
  padding: 10px;
}

/*-----------------*\
	 FORMULAIRES
\*-----------------*/
.form-padding {
  padding-top: 30px;
  padding-bottom: 30px;
}

.form-margin {
  margin-top: 20px;
  margin-bottom: 20px;
}

.container-fluid form {
  box-shadow: 0px 0px 12px #000;
}

body {
  position: relative;
}

.login {
  width: 100%;
}
